@media (max-width: 450px) {
    body {
        margin: 0;
    }
    nav {
        border-bottom: 1px solid black;
        padding: 20px 0px;
        background-color: #f5cdce;
        color: #1f2c8f;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    nav a {
        text-decoration: none;
        color: #1f2c8f;
        font-weight: bold;
        font-size: 20px;
    }


    header {
        padding: 50px 20px;
        border-bottom: 1px solid black;
        background-image: url(images/header2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(20px);
    }

  

    main {
        padding: 50px 20px;
        background-color: #cfcfd0;
    }

    main h2 {
        text-align: center;
        margin-bottom: 30px;
        border-radius: 20px;
        background-color: #aac3e8;
        border: #7788A2 2px solid;
        padding: 30px;
    }

    main div {
        border-radius: 20px;
        background-color: #aac3e8;
        padding: 20px;
        border: #7788A2 2px solid;
        margin: 3vh 0px;
    }


    footer {
        padding: 20px 0px;
        border-top: 1px solid black;
        color: #1f2c8f;
        text-align: center;
        background-color: #1f2c8f;
    }

    footer a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 18px;
        color: white;
        
    }
}